*{
    margin: 0;
    padding: 0;
  

}
body{
    width: 99.9%;
    background-color: #e4e7f6;
    margin: auto;
}
#m0{
    width: 100%;
    height: 27px;
    background-color: #202340;
    color: white;
    text-align: center;
    font-size: 16px;
    padding-top:6px ;
    font-family: Arial, Helvetica, sans-serif;
 font-weight: 500;

}
#m0>p>a{
 color: white;
 font-size: 16px;
 font-weight: 500;
}
#navleft>img{
    width: 130px;
    height: 90px;
   
    
}
nav{
    width: 100%;
    height:150px ;
    background-color: #f0f1f7;
    box-shadow: rgba(32, 32, 194, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    display: flex;
    /* justify-content: space-between; */
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
#navleft{
    width:10%;
   
   
}
#navright{
    
    width: 65%;
    
    padding-left: 40px;
    
    
    
}
#b1{
    width: 100%;
    height: 32px;
    display: flex;
    justify-content: space-between;
    background-color: #e4e7f6;
   
    align-items: center;
   
}
#b1 img{
    width: 16px;
    height: 16px;
}

#n1 ul li{
    display: inline-block;
    text-decoration: none;
    justify-content: space-between;
    
    

}
#n1>ul>li>a{
    text-decoration: none;
    color: #202340;
    font-size:15px ;
    font-family: Arial, Helvetica, sans-serif;
}
#n1>ul>li>a:hover{
    color: rgb(46, 156, 156);
}

#n1>ul{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#n1>ul{
    margin-top: 3%;
}
#n1{
    width: 70%;
  
    height: 47%;
    padding-left: 30px;
    margin-top: -20px;
    margin-left: 18px;
}
#n0{
    width: 80%;
    height: 50%;
  
}
#navlast{
    width: 25%;
  
}
#navlast>div{
    margin-top: 70px;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-evenly;
    border:none;
    align-items: center;
    padding-top: 20px;

}
#navlast>div>a{
    font-size: 30px;
    color: #202340;
}
#navlast>div>a:hover{
    color: #135279;
}

#b1t{
    width: 100%;
    height: 400px;
   background-color: white;
    text-align: center;
    font-size: 30px;
}
#t1{
    width: 30px;
    height: 30px;
    margin-top: 0px;

}
#b1t>img{
    width: 100%;
    height: 95%;
   
}

#part21>div{
    height: 440px;
    width: 340px;
    background-color: white;
    padding-left: 15px;
    padding-top: 15px;
}
#part21>div:nth-child(4){
    background-color: #e4e7f6;
    text-align: center;
}
#part21>div:nth-child(4)>div{
    background-color: white;
    height: 130px;
    font-size: 18px;
    padding: 15px;
    margin-top: -15px;
}
#part21>div:nth-child(4)>div>button{
    width: 80%;
    height: 50px;
    border-radius: 50px;
    background-color: #202340;
    color: white;
    margin-top: 20px;
    font-size: 20px;
}

#part21{
   margin-top: 30px;
   display: flex;
   justify-content: space-evenly;
   
}
#part21>div>img{
    width: 80%;
    display: block;
    margin: auto;
    margin-top: 20px;
    height: 270px;
   
   
}
#part21>div>div>div{
    width: 90%;
    height: 60px;
    background-color: #f0f1f7;
   
    margin: auto;
    margin-top: 20px;

}
#part21>div>div>div>img{
    height: 100%;
    width: 70%;
    display: block;
    margin: auto;
}
#part21 h3{
    margin-top: 30px;
}
#part3{
    width: 100%;
    height: 680px;
    background-color:#ffffff;
    text-align: center;
    margin-top: 30px;
    padding-top: 15px;
    justify-content: space-between;
}
#part3>div:nth-child(2)>img{
    display: inline-block block;
  width: 140px;
  height: 120px; 



}
#part3 h2{
    margin-top: 20px;
}
#part3>div:nth-child(2){
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
}
#part3>div:last-child{
    display: flex;
    justify-content: space-evenly;
    color: #202340;
    margin-top: 20px;

}
#part3>div:last-child>div{
    width: 360px;
}
#part3>div:last-child>div>img{
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#sim1{
    width: 150px;
    height: 150px;
    display: block;
    margin: auto;
    margin-top: -70px;
}
#part4{
    width: 100%;
    margin-top: -60px;
    background-color: white;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    height: 440px;

}
#part4>div{
    margin-top: 80px;
    width: 320px;

}
#part4>div>img{
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
#part4 h5{
    margin-top: 20px;
    font-size: 20px;

}
#part7{
    width: 100%;
    margin-top: 20px;
    background-color: white;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    height: 340px;

}
#part7>div{
    margin-top: 15px;
    width: 300px;

}
#part7>div>img{
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
#part7 h5{
    margin-top: 20px;
    font-size: 20px;

}
#part5{
    width: 100%;
    height: 350px;
    margin-top: 20px;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
}
#part5>div{
    width: 300px;
    height: 310px;
   
   

}
#part5>div>img{
    width: 100%;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

}
#part6{
    width: 100%;
    height: 300px;
    background-color: white;
    margin-top: 20px;
    text-align: center;
    padding: 15px;
}
#part6>div{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top:18px ;

}
#part6 img{
    border-radius: 50%;
    border: 13px solid rgb(191, 191, 191);
    width: 150px;
    height: 150px;
}
#part6>div>div{
    width: 180px;
    height: 190px;
}
#part6 h4{
    margin-top: 10px;
}
#part8{
    margin-top: 20px;
    background-color: white;
    width: 100%;
    height: 370px;
    text-align: center;
    padding: 15px;

}
#part8>div{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    
}
#part8>div img{
    width: 100%;
   
}
#part8>div>div{
    width: 250px;
    height: 300px;
}
#part8 h2{
    font-size: 24px;
}
#footer{
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    background-color: #313554;
    color: white;
    padding: 20px;
    margin-top: 20px;
}
#lastf{
    height: 180px;
    line-height: 20px;
}
#lastf img{
    display: block;
    margin: auto;
    margin-top: 15px;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1050px;
  width: 90%;
  margin: auto;
}

.navbar {
  width: 100%;
  box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
}

.navbar .menu-items {
  display: flex;
}

.navbar .nav-container li {
  list-style: none;
}

.navbar .nav-container a {
  text-decoration: none;
  color: #0c1d27;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.7rem;
}

.navbar .nav-container a:hover{
    font-weight: bolder;
}

.nav-container {
  display: block;
  position: relative;
  height: 60px;
}

.nav-container .checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 20px;
  left: 20px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.nav-container .hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 17px;
  left: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #0a1922;
}

.nav-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
  padding-top: 120px;
  box-shadow: inset 0 0 2000px transparent;
  height: 400px;
  width: 300px;
  transform: translate(-150%);
  display: flex;
  flex-direction: column;
  margin-left: -40px;
  padding-left: 50px;
  transition: transform 0.5s ease-in-out;
  text-align: center;
  background-color: #e4e7f6;
}

.navbar .menu-items li {
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.logo {
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: 1.2rem;
  color: #0e2431;
}

.nav-container input[type="checkbox"]:checked ~ .menu-items {
  transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}

.nav-container input[type="checkbox"]:checked ~ .logo{
  display: none;
}
.navbar{
    margin-left: 20px;
    margin-bottom: 20px;
}
body{

   scroll-behavior: smooth;
}
#arrowbtn{
    position: absolute;
    top: 80%;
    left: 95%;
    position: fixed;
    display: none;
    background-color: #0a1922;
    border-radius: 50%;
    outline: 4px solid #0a1922;
}
#runner{
    width: 100%;
    height: 30px;
    font-size: 20px;
    font-weight: 400;
    background-color: #202340;
    color: white;
    padding: 5px;
}
#n01{
    border: #202340;
    border: 2px solid;
    border-radius: 50px;
    height: 50px;
    width: 89%;
    margin-top: 30px;
    margin-left: 30px;
  
   
}
#filter{
    height: 45px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    width: 220px;
    padding-left:20px ;
    color: #202340;
    border: none;
    outline: none;
    background-color: #f0f1f7;

}
#search{
    height: 46px;
    
    width: 380px;
    padding-left:20px ;
    color: #202340;
   border: none;
   outline: 0;
    background-color: #f0f1f7;
  border-right: 4px;
 
}

